
.ant-select-selector, .ant-input, .ant-picker,.ant-input-number {
    border-radius: 10px!important;
    
    

}

.submit-fields {
    background: #FDC039!important;
    width: 100%;
    padding: 1rem 0;
}

.filled-out