
.ant-select-selector, .ant-input, .ant-picker,.ant-input-number {
    border-radius: 10px!important;
    
    

}


.react-datepicker-wrapper {
    width: 100%;


}

.react-datepicker-wrapper input {
    border-radius: 10px;
    text-indent: 10;
}